//
   Created by Junyoung on 2016-09-14.

extends ../layout/layout

block content
    #login-modal.modal.show(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1.text-center News4U Join
                form.form(method='POST', action='/join')
                    .modal-body
                        .col-md-12.center-block
                            .form-group
                                input.form-control.input-lg(type='text', placeholder='Email', name='email')
                            .form-group
                                input.form-control.input-lg(type='password', placeholder='Password', name='password')
                    .modal-footer
                        .col-md-12
                            .form-group
                                input.btn.btn-primary.btn-lg.btn-block(type='submit', value='JOIN')