extends ../layout/layout

block content
    .container
        .row
            .graphContainer
                .graph
                    h3 뉴스 로그
                    script.
                        new Chartist.Line('.graph', {
                            labels: !{JSON.stringify(labels)},
                            series: !{JSON.stringify(counts)}
                        }, {
                            fullWidth: true
                        });
