//
   Created by Junyoung on 2016-09-14.

extends layout/layout

block content
    .container
        // Title
        #mycarousel.carousel.slide(data-ride='carousel')
            // Add Slide Indicators
            ol.carousel-indicators
                each _, i in carouselList
                    li(data-target='#mycarousel', data-slide-to=i, class=(i==0)?'active':'')
            // Add Carousel Wrapper for Slides
            .carousel-inner
                each leading, i in carouselList
                    .item(class=(i==0)?'active':'')
                        .img-wrapper(style='background-image: url("#{leading.imageURL}");')
                            .carousel-caption
                                h2= leading.title
                                p= shortenString(leading.content, 400)


            // Add Left & Right Navigation Controls
            a.left.carousel-control(href='#mycarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#mycarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right


        // Page Features
        block feedArticles
            +articleList_Tiled('관심있어하실만한 뉴스', clusterLeadingList)

        hr
