//
   Created by Junyoung on 2016-09-14.

extends layout

block content

    .feed-container
        // Title
        .row
            .col-lg-12
                h3 Today News
                hr

        // Page Features
        .row.text-center
            ul.list-unstyled
                each article in articles
                    li.col-md-3.col-sm-6.feed-body
                        .thumbnail
                            a(href='/articles/#{article.id}')
                                if(article.imageURL)
                                    img(src='#{article.imageURL}', alt='')
                                else
                                    img(src='http://placehold.it/800x500', alt='')
                                .caption
                                    h3 #{article.title}
                                    p #{article.description}
                                    hr
                                    p 관련기사 0건

        // /.row
        hr