//
   Created by Junyoung on 2016-09-14.

extends layout

block content

    .feed-container
        // Title
        .row
            .col-lg-12
                h3 Today News
                hr

        // Page Features
        .row.text-center
            ul.list-unstyled
                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건


                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건

                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건

                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건

                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건

                li.col-md-3.col-sm-6.feed-body
                    .thumbnail
                        a(href='feed/1')
                            img(src='http://placehold.it/800x500', alt='')
                            .caption
                                h3 Feature Label
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                hr
                                p 관련기사 0건
        // /.row
        hr