//
   Created by phu54 on 2016-10-30.

extends layout

block content

        .profile-content
            table.profile-table
                each log in logs
                    tr
                        td= log.startedAt
                        td
                            a(href=log.newsURL)=log.article.title
