extends layout

block content
    .feed-container
        .row
            svg.chart(width="420", height=20*countList.length, aria-labelledby="title desc", role="img")
                -var index = 0
                each data in countList
                    g.bar
                        text(x=0, y=index*20+10, dy=".35em")=data._id
                        rect(x=100, y=index*20, height=19, width=data.count/2.0)
                    -index++
