//
   Created by Junyoung on 2016-09-17.

extends layout

block content

    // Page Content
    .news-container
        .row
            // Blog Post Content Column
            .col-lg-8
                // Blog Post
                // Title
                .news-body
                    h1 경주 강진 여진공포 총 351회 발생..언제 멈출까?
                    // Author
                    p.lead
                        | by&nbsp;
                        a(href='#') Chosun Eilbo
                    hr
                    // Date/Time
                    p
                        span.glyphicon.glyphicon-time
                        |  Posted on August 24, 2013 at 9:00 PM
                    hr
                    // Preview Image
                    img.img-responsive(src='http://t1.daumcdn.net/news/201609/15/newsis/20160915213917012fyeu.jpg', alt='')
                    hr
                    // Post Content
                    p.lead
                        | 김현섭 기자 = 지난 12일 경북 경주에서 발생한 강진으로 인한 여진이 계속되고 있다.
                    p
                        | 17일 기상청에 따르면 이날 오후 9시까지 총 351차례의 여진이 발생했다. 규모별로는 1.5~3.0이 336회로 가장 많았고 3.0~4.0은 14회, 4.0~5.0 1회 등으로 파악됐다.
                    p
                        | 이는 2011년 3월 발생한 동일본 대지진 후 국내에서 지진이 가장 많이 발생했던 2013년(당시 93회) 기록을 3배 이상 뛰어넘는 수치다.
                    p
                        | 이날 오후 4시24분께에는 경북 경주시 남남서쪽 9㎞ 지역에 규모 2.1 지진이 발생했다. 이번 지진으로 피해는 발생하지 않았다. 기상청 관계자는 "최근 4시간동안 발생한 지진은 없었다"고 설명했다.
                    p
                        | 앞서 지난 12일 오후 8시32분께 경북 경주시 남남서쪽 8㎞ 지역에서 규모 5.8의 강진이 발생했다. 1978년 국내에서 계기지진 관측을 시작한 이래 역대 최대 규모의 지진으로 꼽힌다. 앞서 기록은 1980년 1월8일 평북지역에서 발생한 규모 5.3의 지진이었다.
                    p
                        | 12일 발생한 지진으로 경주·대구는 최대 진도 6 수준, 인근 지역인 부산·울산·창원은 최대 5 수준을 느낀 것으로 확인됐다. 진도 6은 무거운 가구가 움직이는 정도로, 많은 사람이 놀라 밖으로 나가는 수준이다. 진도 5는 거의 모든 사람이 지진동을 느끼며 그릇이나 물건이 깨지는 위력으로 전해졌다.
                    p
                        | 기상청은 지진의 여진 발생 횟수나 규모는 점차 줄어들고 있으나 언제 완전히 멈출지는 예측하기 힘들다고 설명했다.

                    hr


                .news-related
                    .row
                        .col-lg-12
                            h3 Related Articles
                    // /.row
                    // Page Features
                    .row.text-center
                        .col-md-4.col-sm-6.hero-feature
                            .thumbnail
                                img(src='http://placehold.it/800x500', alt='')
                                .caption
                                    h3 Feature Label
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .col-md-4.col-sm-6.hero-feature
                            .thumbnail
                                img(src='http://placehold.it/800x500', alt='')
                                .caption
                                    h3 Feature Label
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .col-md-4.col-sm-6.hero-feature
                            .thumbnail
                                img(src='http://placehold.it/800x500', alt='')
                                .caption
                                    h3 Feature Label
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                // /.row
            // Blog Sidebar Widgets Column
            .col-md-4
                // Blog Search Well
                .well
                    h4 Topic Search
                    .input-group
                        input.form-control(type='text')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                span.glyphicon.glyphicon-search
                    // /.input-group
                // Blog Categories Well
                .well
                    h4 News Categories
                    .row
                        .col-lg-6
                            ul.list-unstyled
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                        .col-lg-6
                            ul.list-unstyled
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                                li
                                    a(href='#') Category Name
                    // /.row
                // Side Widget Well
                .well
                    h4 Side Widget Well
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
        // /.row
