.feed-container {
    margin: 80px 250px auto;
    .jumbotron.hero-spacer {
        padding: 50px;
    }
}

.feed-body {
    margin-bottom: 30px;
    .thumbnail {
        height: 40%;
        .caption {
            height: 40%;
        }
        .count {
            height: 20%;
        }
    }
    .img {
        position: absolute;
        width: 100%;
        height: auto;
    }
}