.feed-container {
    margin: 80px 250px auto;
}

#mycarousel {
    margin-bottom: 30px;
    height: 35vh;

    .carousel-indicators {
        bottom: 0;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        height: 100%;

        .img-wrapper {
            position: absolute;
            background-position: center;
            background-size: cover;

            width: 100%;
            height: 35vh;
            overflow: hidden;
        }

        .carousel-caption {
            left: 0;
            right: 0;
            bottom: 0;
            padding-bottom: 2vh;

            background-color: rgba(0, 0, 0, 0.8);

            h2 {
                margin-left: 5%;
                margin-right: 5%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                margin-left: 10%;
                margin-right: 10%;

                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5em;
                height: 3em;
            }
        }
    }
}

