#login-modal {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: center url('../../images/login.jpg');
  padding: 250px 0;
}

.modal-footer .btn {
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}