//
   Created by Junyoung on 2016-09-14.

nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |  Menu
                i.fa.fa-bars
            a.navbar-brand.page-scroll(href='/articles/feed') News4U

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a.page-scroll(href='/articleList') List
                if(request.user)
                    li(class=((request.session.clusterType === 'A') ? 'active' : ''))
                        a.page-scroll(href='#', onclick='javascript:setDatabaseType("A");') Page A
                    li(class=((request.session.clusterType === 'B') ? 'active' : ''))
                        a.page-scroll(href='#', onclick='javascript:setDatabaseType("B");') Page B
                    li
                        a.page-scroll(href='/profile') Profile

                    li
                        a.page-scroll(href='/logout') Logout
